<a href="https://colab.research.google.com/github/SvetlanaSel/osnovy_programming/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.2.1.
№4.2.1.
Рассчитать значение f при заданном значении вещественного числа x:

![2022-09-16 (2).png]()
при x⩾0,в противном случае.
При выводе на экран оставьте 2 знака после запятой.

#4.2.2.
4.2.2.
Определите максимальное и минимальное значения из двух различных целых чисел.

#4.2.3.
4.2.3.
Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

#4.2.4.
4.2.4.
Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

#4.2.5.
4.2.5.
Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

#4.2.6.
4.2.6.
Даны вещественные числа a, b, c (a≠0).
Решите уравнение ax^2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

#4.2.7.
4.2.7.
Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

#4.2.8.
4.2.8.
Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

#4.2.9.
4.2.9.
Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно. 
![2022-09-21 (2).png]()

#4.2.10.
4.2.10.
Дано натуральное число. Определите сумму и количество его цифр.

#4.2.11.
4.2.11.
Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

#4.2.14.
4.2.14.
Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

#4.2.15.
4.2.15.
Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

#4.2.16.
4.2.16.
В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

#4.2.17.
4.2.17.
Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

#4.2.19.
4.2.19.
Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

#4.2.20.
4.2.20.
Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

#4.2.22.
4.2.22.
Даны n вещественных чисел. Определите максимальное и минимальное из них.

#4.2.23.
4.2.23.
Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

#4.2.24.
4.2.24.
Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

#4.2.25.
4.2.25.
Выведите на экран таблицу умножения на n (2<n≤9) в виде:

1 х 1 = 1     1 х 2 = 2      ...   1 х n = ...
2 х 1 = 2     2 х 2 = 4      ...   2 х n = ...
...           ...            ...   ...
n х 1 = ...   n х 2 = ...    ...   n х n = ...

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_01.
# Выполнил: Селиверстова С. Н.
# Группа: АДЭУ-221
# E-mail: svseliverstova2804@mail.ru


x = int(input('x='))
if x>=0 :
  f = (x**(1/2)) + (x**2)
else:
  f = 1/x 
print("Результат:", round(f, 2))

x=-10
Результат: -0.1

In [ ]:
# Задание task_04_02_02.
a1 = float(input('a1= '))
a2 = float(input('a2= '))
a_min = print('Минимум:', min(a1, a2))
a_max = print('Максимум:', max(a1, a2))

a1= 100
a2= -1
Минимум: -1.0
Максимум: 100.0

In [ ]:
# Задание task_04_02_03.



a = int(input('a= '))
b = int(input('b= '))
d = int(input('d= '))

if ((a-1>=d) and (b-1>=d)):
  print('Да')
else:
  print('Нет')
if ((a or b or h) < 0):
  print('Проверьте ввод')

a= -1
b= 0
d= 0
Нет
Проверьте ввод

In [ ]:
# Задание task_04_02_04.

year_today = int(input('Введите текущий год:'))
month_today = int(input('Введите текущий месяц:'))

year = int(input('Введите год рождения:'))
month = int(input('Введите месяц рождения:'))
age = year_today - year
if (month > month_today):
 print('Число полных лет:', age-1)
else:
  print('Число полных лет:', age)
if (month_today or month) < 0:
    print('Проверьте значение')

Введите текущий год:2017
Введите текущий месяц:5
Введите год рождения:2000
Введите месяц рождения:1
Число полных лет: 17

In [ ]:
# Задание task_04_02_05.

x = int(input('x = '))
y = int(input('y = '))

if (x>0 and y>0):
  print("1-я четверть")
elif (x<0 and y>0):
  print('2-ая четверть')
elif (x<0 and y<0):
  print('3-я четверть')
elif (x>0 and y<0):
  print('4-я четверть')

x = 5
y = 7
1-я четверть

In [ ]:
# Задание task_04_02_06.

a = float(input('a= '))
b = float(input('b= '))
c = float(input('c= '))

d =((b**2)-4*a*c)
if d<0:
  print('нет решений')
elif d==0:
  x1=((-1*b)/2*a)
  print('x =-', round(x1, 1))
elif d>0:
  x2 = (((-1*b)-(d**(1/2)))/2*a)
  x1 = (((-1*b)+(d**(1/2)))/2*a)
  print('x1 =', round(x1, 1), 'x2 =', round(x2, 1))

a= 1
b= 3
c= -4
x1 = 1.0 x2 = -4.0

In [ ]:
# Задание task_04_02_07.
x= int(input('Введите 1-е число:'))
nums = list()

while x!=0:
  nums.append(x)
  x = int(input('Введите дополнительное число: '))

print('Количество: ', len(nums))
print('Сумма: ',sum(nums))

Введите 1-е число:1
Введите дополнительное число: 2
Введите дополнительное число: 3
Введите дополнительное число: 4
Введите дополнительное число: 0
Количество:  4
Сумма:  10

In [ ]:
# Задание task_04_02_08.

n = int(input('Введите число n: '))
a = 0
print('0')

while a<=n:
    a = a+5
    if a<n:
      print(a)
    else:
      break

Введите число n: 12
0
5
10

In [ ]:
# Задание task_04_02_09.
a = float(input('Введите вещественное число: '))
n = 1 
x_sum = list() 
x_sum.append(n)
while sum(x_sum)<=a:
    n = n+1
    g = 1/n
    x_sum.append(g)

print(n)

Введите вещественное число: 1.5
3

In [ ]:
# Задание task_04_02_10.

n = list(map(int, input('Введите целое натуральное число: ')))

n_sum = sum(n)
n_count = len(n) 

print('Сумма: ', n_sum)
print('Количество: ', n_count)

Введите целое натуральное число: 12345
Сумма:  15
Количество:  5

In [ ]:
# Задание task_04_02_11.

start = int(input('start ='))
k = int(input('k ='))
s = int(input('s ='))
need=list()
while start%s!=0:
    start += 1
else:
    for x in range(99):
        start += 1
        while start%s!=0:
            start += 1
        else:
            if start%10==k:
                need.append(start)

print(need[:10])

start =100
k =7
s =9
[117, 207, 297, 387, 477, 567, 657, 747, 837, 927]

In [5]:
# Задание task_04_02_14.
s = float(input('Пробег в 1-ый день: '))
p = float(input('Процент увеличения нагрузки: '))

t = list() 
t.append(s) 
a = 0
b = 1
for x in range(9):
    s = ((s*(p/100))+s)+0.0001
    b += 1
    t.append(s)
    print('Пробег за',b,'день: ', round(s,1), 'км.')

total = sum(t)
print('Суммарный пробег: ' , round(total,1))

Пробег в 1-ый день: 5
Процент увеличения нагрузки: 10
Пробег за 2 день:  5.5 км.
Пробег за 3 день:  6.1 км.
Пробег за 4 день:  6.7 км.
Пробег за 5 день:  7.3 км.
Пробег за 6 день:  8.1 км.
Пробег за 7 день:  8.9 км.
Пробег за 8 день:  9.7 км.
Пробег за 9 день:  10.7 км.
Пробег за 10 день:  11.8 км.
Суммарный пробег:  79.7

In [ ]:
# Задание task_04_02_15.
p = int(input('Грузоподъемность грузовика (кг.): '))
n = int(input('Количество предметов: '))

a = list()
for x in range(n):
    m = int(input('Масса предмета (кг.): '))
    a.append(m)

if sum(a)>=p:
    print('Нет')
else:
    print('Да')

Грузоподъемность грузовика (кг.): 10
Количество предметов: 2
Масса предмета (кг.): 3
Масса предмета (кг.): 3
Да

In [ ]:
# Задание task_04_02_16.
n = int(input('Количество районов: '))

total = list()
for x in range(n):
    a = float(input('Площадь района (га): ')) 
    b = float(input('Урожайность в районе (ц/га.): ')) 
    c = b*a
    total.append(c)

print(round(sum(total), 1))

Количество районов: 3
Площадь района (га): 4
Урожайность в районе (ц/га.): 2
Площадь района (га): 7
Урожайность в районе (ц/га.): 3
Площадь района (га): 9
Урожайность в районе (ц/га.): 4
65.0

In [ ]:
# Задание task_04_02_17.
nums_sum = 0 
nums_count = 0  

x = int(input('Введите число: '))
a = list()

while x!=0:
    nums_count = nums_count+1
    a.append(x)
    nums_sum = nums_sum+x
    x = int(input('Введите следующее число: '))
    if x==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ',nums_count)

Введите число: 1
Введите следующее число: 2
Введите следующее число: 3
Введите следующее число: 4
Введите следующее число: 0
Сумма =  10
Количество =  4

In [ ]:
# Задание task_04_02_19.
a = int(input('Введите 1-е число: '))
b = int(input('Введите 2-е число: '))
c = int(input('Введите 3-е число: '))

l = list()

for y in range(a,b+1):
    if y%c==0:
        l.append(y)

print(l)

Введите 1-е число: 1
Введите 2-е число: 10
Введите 3-е число: 2
[2, 4, 6, 8, 10]

In [1]:
# Задание task_04_02_20.
n = int(input('Введите число: '))

g = list()

for x in range(100, 1000): 
    a = sum(int(e) for e in str(x))
    if a==n:
        g.append(x)

print(g)

Введите число: 3
[102, 111, 120, 201, 210, 300]

In [ ]:
# Задание task_04_02_22.

n = int(input('n = '))
t = list()

a_max = None
a_min = None

for x in range(n):
  a = float(input('a = '))
  t.append(a)

l = max(t)
g = min(t)

print("Максимум: ", l)
print("Минимум: ", g)

n = 4
a = 6.2
a = 3.8
a = 1.1
a = 9.66
Максимум:  9.66
Минимум:  1.1

In [6]:
# Задание task_04_02_23.
n = int(input('n= '))

a = 1
b = 1
c = 1

while n!=a:
    if n<a:
        print('Не является')
        break
    else:
        c = a
        a += b
        b = c
else:
    print('Является')

n= 7
Не является

In [ ]:
# Задание task_04_02_24.
n = int(input('n = '))

a = list()
b = float(input('1-е число: '))
a.append(b)
d = 1

for x in range(n-1):
    d += 1
    b = float(input('Введите следующее число: '))
    if b<=a[-1]:
        print(d)
        break


if b>a[-1]:
    print('Является')

n = 4
1-е число: 2
Введите следующее число: 4.6
Введите следующее число: 6
Введите следующее число: 8.3
Является

In [ ]:
# Задание task_04_02_25.
n = int(input('Введите целое число: '))

for x in range(1, n+1):
    for y in range(1, n+1):
        print(f'{x} * {y} = {x * y}\t', end=' ')
    print('')

Введите целое число: 5
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25